# Node modules (Frontend)
frontend/node_modules/
frontend/.vite/

# Python environment (Backend)
backend/__pycache__/
backend/venv/
backend/.env

# Logs and OS Files
*.log
.DS_Store
.env
.idea/
.vscode/
# Ignore SQLite database file
backend/notiva.db
backend/__pycache__/
